New learn-to-swim sign-up for



{{ schoolName }}





Contact




{{ contactName }}
{{ contactEmail }}
{{ contactPhone }}
@if(whatsapp)
  WhatsApp:
  {{ whatsapp }}
@end
@if(message)
  Message
  {{ message }}
@end









Learners




@each(learner in learners)
  -
  {{ learner.name }}
  (
  {{ learner.dateOfBirth }}
  ,
  {{ learner.gender }}
  )
  Nationality:
  {{ learner.nationality }}
  Residential location:
  {{ learner.residentialLocation }}
  Medical information:
  {{ learner.medicalInfo }}
  @if(learner.swimmingExperience)
    Swimming experience:
    {{ learner.swimmingExperience }}
  @end
@end













View sign-ups:



{{ listUrl }}
